body{
  margin: 0;
  font-family: "Open Sans", "Helvetica";
}

.app{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed{
  display: block;
  position: relative;
  width: 100%;
}

.app .intro{
  justify-content: center;
  align-items: center;
}

.classification-content{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: pink;
}
